header {
    display: flex;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    justify-content: space-between;
}

img{
    box-shadow: 1px 1px 0px #000;
}

nav {
    
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover{
    color: #5f2497;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
}

#button:hover{
    background-color: #5f2497;
    color: aliceblue;

}