.main-section {
    background-color: #1BBBD0;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #5f2497;
}

.main-section .main-title {
    margin-bottom: 50px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdFirst{
    border-bottom: 10px solid #1BBBD0;
}