
.main-button {
    display: inline-block;
    background-color: #1BBBD0;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    color: aliceblue;
    font-size: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.main-button:hover{
    background-color: #5f2497;
    color: aliceblue;

}