.progress-bar{
    background-color: #FFF;
    box-sizing: border-box;
    height: 35px;
    border: 5px solid #000;
    
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #5f2497;
}