.skill-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #5f2497;
}

.skill-section .main-title {
    margin-bottom: 50px;
}

.skill-section.-bgBlack{
    background-color: #000;
}

.skill-section.-bdFirst{
    border-bottom: 10px solid #F25A70;
}